{% extends 'Toury/base.html' %}
{% block title %}Toury{% endblock %}
{% load staticfiles %}
{% block content %}
     <div class="jumbotron">
     <div class="container">
         <h1>Welcome to Toury</h1>
         <p>Create tours for your Google Glass and Android device. To get started, click the button below.</p>
         <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'create' %}">Create a Tour &raquo;</a></p>
     </div>
     </div>
         <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

        <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Location Aware <span class="text-muted">Hands-free</span></h2>
          <p class="lead">As you walk around a specified location (a campus or an entire city), Glass will inform you
          of important information regarding the location you are currently standing in. As you look at the item of interest,
          Glass will show you more information as well as speak that information to you.</p>
        </div>
        <div class="col-md-5">
          <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
            <video class="img-responsive" controls>
                <source src="{% static 'toury_demo_no_sound.mp4' %}">
            </video>
        </div>
      </div>



      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
            <video class="img-responsive" controls>
                <source src="{% static 'toury_demo_no_sound.mp4' %}">
            </video>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Google Glass App <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Choose between a guided tour or a self guided tour. Search for destinations using only your voice. As
          you move your head around, markers will indicate the location of a point of interest. As you move closer to the destination,
          you will be told important information regarding that destination. </p>
        </div>
      </div>

      <hr class="featurette-divider">

        <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Create Tours <span class="text-muted">Self-guided tours</span></h2>
          <p class="lead">Create a tour through this web application and allow users to explore your campus using the Google Glass app.</p><p class="lead">
           Choose points of interest around a campus or city. Just click on the map and enter the information that you want your user to
          see/hear as they walk in the location.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="{% static 'screenshot1.png' %}" alt="Web App">
        </div>
      </div>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Towson University &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

{% endblock %}