{% extends 'Toury/base.html' %}
{% block title %}Tours{% endblock %}
{% block extrascripts %}
{% load staticfiles %}
{% endblock %}
{% block style %}
<style type="text/css">
    html { height: 100% }
    .container { padding-top: 50px;}
    #map-canvas { margin-top: 20px; height: 400px; width: 100%;}
    a { padding: 10px; }
    .delete { margin-right: -15px;}
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
            <h3>Your tours:</h3>
            <ol>
                {% for tour in tours %}
                    <li><a href="{% url 'tour' tour.id %}">{{tour.name}}</a>
                        <a href="{% url 'delete_tour' tour.id %}" class="delete"><button type="button" class="close delete" aria="hidden">&times;</button></a></li>
                {% endfor %}
            </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Warning!</strong> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $('.delete').click(function(e){
            var result = confirm("Are you sure you want to delete this Tour?");
            if ( result == true ){
                return true;
            } else {
                return false;
            }
        });
    </script>
{% endblock %}