{% extends 'Toury/base.html' %}
{% block title %}Tours{% endblock %}
{% block extrascripts %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'util.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyC5zT8GT1qKus12TlMBWfl9Fz8jjta3W9s&sensor=true"></script>
<script type="text/javascript" src="{% static 'my_script.js' %}"></script>
<script>
function getCircle(magnitude) {
  return {
    path: google.maps.SymbolPath.CIRCLE,
    fillColor: 'red',
    fillOpacity: .2,
    scale: magnitude,
    strokeColor: 'white',
    strokeWeight: .5
  };
}

$(function(){
    //populate map with markers from tour
    var markerList = []
    {% for marker in tour.markers.all %}
        var mark = {title: '{{marker.title}}',
                lat: {{marker.trigger_latitude}},
                lng: {{marker.trigger_longitude}},
                radius: {{marker.radius}},
                marker_lat: {{marker.marker_latitude}},
                marker_lng: {{marker.marker_longitude}},
                description: '{{marker.description}}'};
        markerList.push(mark);
    {% endfor %}
    //console.log(dict);
    for(var i = 0; i < markerList.length; i++){
        console.log(markerList[i]);
        touryMarker = new TouryMarker();
        touryMarker.title = markerList[i].title;
        touryMarker.description = markerList[i].description;
        touryMarker.marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(markerList[i].lat, markerList[i].lng),
                title: markerList[i].title,
                icon: getCircle(markerList[i].radius),
                draggable: true
            });
        google.maps.event.addListener(touryMarker.marker, 'click', function(event){

                touryMarker = dict.getVal(event.latLng.lat());
                console.log(touryMarker);
                $('#marker').val(touryMarker.title);
                $('#description').val(touryMarker.description);
                if(!infowindowvisible){
                    touryMarker.infowindow.open(map, touryMarker.marker);
                    infowindowvisible = true;
                }
            });
        touryMarker.infowindow = new google.maps.InfoWindow({
                content: '<div id="content"><h5>'+ markerList[i].title +'</h5></div>',
                enableEventPropoagation: true
         });

        touryMarker.flightPath = new google.maps.Polyline({
                path: [new google.maps.LatLng(markerList[i].marker_lat, markerList[i].marker_lng),new google.maps.LatLng(markerList[i].lat, markerList[i].lng)],
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2,
                editable: true,
            });
            google.maps.event.addListener(touryMarker.flightPath, 'click', function(event){
                touryMarker.flightPath.setMap(null);
                touryMarker.flightPath = null;
                $('#direction').val('');
                $('#mark_lat').val('');
                $('#mark_lng').val('');
                state = valis.StateEnum.FIRST_MARKER_ADDED;
                return;
            });
        google.maps.event.addListener(touryMarker.infowindow, 'closeclick', function(event){
                infowindowvisible = false;
            });
        google.maps.event.addListener(touryMarker.marker, 'dragstart', function(event){
                dict.remove(event.latLng.lat());
        });
            google.maps.event.addListener(touryMarker.marker, 'dragend', function(event){
                dict.put(event.latLng.lat(), touryMarker);
                $('#marker').val(touryMarker.title);
                $('#description').val(touryMarker.description);
                $('#lat').val(event.latLng.lat());
                $('#lng').val(event.latLng.lng());

                touryMarker.infowindow.setMap(null);
                touryMarker.infowindow = new google.maps.InfoWindow({
                    content: '<div id="content"><h5>'+ $('#marker').val() + '</h5></div>',
                    enableEventPropoagation: true
                });
                if($('#marker').val() != '')
                    touryMarker.infowindow.open(map, touryMarker.marker);
                if(touryMarker.flightPath != null){
                    var oldpath = touryMarker.flightPath.getPath();
                    touryMarker.flightPath.setPath([oldpath.getAt(0), event.latLng]);
                }
            });
         touryMarker.flightPath.setMap(map);

        dict.put(markerList[i].lat, touryMarker);
        touryMarker.infowindow.open(map, touryMarker.marker);
    }
});
</script>

{% endblock %}
{% block style %}
<style type="text/css">
    html { height: 100% }
    .container { padding-top: 0px;}
    #map-canvas { margin-top: 20px; height: 400px; width: 100%;}
</style>
{% endblock %}
{% block content %}
    <div class="container">

        <h1>{{tour.name}}</h1>
        <div class="row">
            <div class="col-md-7">
                <div id="map-canvas"></div>
                <h5 id="instructions"></h5>
            </div>

            <div class="col-md-4">
                <form role="form" action="{% url 'tour' tour.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="marker">Marker:</label>
                        <input type="text" class="form-control" id="marker" name="title" placeholder="Enter marker title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea rows="10" cols="80" class="form-control" id="description" name='description' placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="lat">Trigger Latitude:</label>
                        <input type="text" class="form-control" id="lat" name="trigger_latitude" placeholder="" value="{{marker.trigger_latitude}}">
                    </div>
                    <div class="form-group">
                        <label for="lng">Trigger Longitude:</label>
                        <input type="text" class="form-control" id="lng" name="trigger_longitude" placeholder="" value="{{marker.trigger_longitude}}">
                    </div>
                    <div class="form-group">
                        <label for="mark_lat">Marker Latitude:</label>
                        <input type="text" class="form-control" id="mark_lat" name="marker_latitude" placeholder="" value="{{marker.marker_latitude}}">
                    </div>
                    <div class="form-group">
                        <label for="mark_lng">Marker Longitude:</label>
                        <input type="text" class="form-control" id="mark_lng" name="marker_longitude" placeholder="" value="{{marker.marker_longitude}}">
                    </div>
                    <div class="form-group">
                        <label for="direction">Direction:</label>
                        <input type="text" class="form-control" id="direction" name="direction" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="radius">Radius:</label>
                        <input type="text" class="form-control" id="radius" name="radius" placeholder="">
                    </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <br>
        <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Lat
                </th>
                <th>
                    Long
                </th>
                <th>
                    Radius
                </th>
                <th>
                    Direction
                </th>
            </tr>

            {% for marker in tour.markers.all %}
                <tr>
                    <td>
                        <a href="{% url 'marker' marker.id %}">{{ marker.title }}</a>
                    </td>
                    <td>
                        {{ marker.description }}
                    </td>
                    <td>
                        {{marker.trigger_latitude}}
                    </td>
                    <td>
                        {{marker.trigger_longitude}}
                    </td>
                    <td>
                        {{marker.radius}}
                    </td>
                    <td>
                        {{marker.direction}}
                    </td>
                </tr>
            {% endfor %}

        </table>
        </div>
    </div>
    <br>


{% endblock %}